#UI 4.34 update, January 2018, by Kolbe
#Modified by Dee-Jay 28/02/2018
#
#This is the left part of the campaign select window.
#Here you can
#- Load a campaign
#- Start a new one
#- Delete a campaign
#- Join an on-line campaign
#Note: The number of max. possible scenarios has been raised from 3 to 6.
#
#To disable a scenario just comment out the [IMAGES] code line.

##################
#MAIN WINDOW SETUP
##################

[WINDOW]
[SETUP] CS_SELECT_WIN, C_TYPE_NORMAL, 334 601
[XY] 17 88
[GROUP] 4000
[FONT] OCR_EXT_14
[CLIENTAREA] 18 50 292 527 0
[XYWH] 0 0 334 601
[FLAGBITON] C_BIT_CANTMOVE
[FLAGBITON] C_BIT_TRANSLUCENT

[TILE]
[SETUP] NID 0 0
[XYWH] 0 0 334 601
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HORIZONTAL

#BOX BACKGROUND FOR CAMPAIGN BUTTONS
[FILL]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 0 0 334 601
[PERCENT] 15
[FLAGBITON] C_BIT_TRANSLUCENT
[FLAGBITON] C_BIT_ABSOLUTE

#################
#SCENARIO BUTTONS
#################

######Scenario 1
[BUTTON]
[SETUP] CS_LOAD_SCENARIO1,C_TYPE_CUSTOM, 4 36
#To disable this scenario just comment out the next code line with #
[IMAGES] CAMP_TIGER_SPIRIT_NEW CAMP_TIGER_SPIRIT_NEW CAMP_TIGER_SPIRIT_NEW CAMP_TIGER_SPIRIT_NEW
[CLUSTER] 4001
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_POP C_TYPE_LMOUSEUP
[LABELFLAGBITON] C_BIT_RIGHT
[LABELALL] TXT_SCENARIO_1
[FONT] BANK_GOTHIC_24
[TEXTOFFSET] C_STATE_UP -15 30
[TEXTOFFSET] C_STATE_DOWN -15 30
[TEXTCOLOR] C_STATE_0 230 230 230
[TEXTCOLOR] C_STATE_1 0 255 0
[USERDATA] 0 1
[USERDATA] 1 2
[USERDATA] 2 3
[USERDATA] 3 4
[USERDATA] 4 5
[USERDATA] 5 6
[USERDATA] 100 MV_UITIGERSPIRIT
[CURSOR] CRSR_F16_ON

######Scenario 2
[BUTTON]
[SETUP] CS_LOAD_SCENARIO2,C_TYPE_CUSTOM, 4 130
#To disable this scenario just comment out the next code line with #
[IMAGES] CAMP_ROLLING_FIRE_NEW CAMP_ROLLING_FIRE_NEW CAMP_ROLLING_FIRE_NEW CAMP_ROLLING_FIRE_NEW
[CLUSTER] 4001
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_POP C_TYPE_LMOUSEUP
[LABELFLAGBITON] C_BIT_RIGHT
[LABELALL] TXT_SCENARIO_2
[FONT] BANK_GOTHIC_24
[TEXTOFFSET] C_STATE_UP -15 30
[TEXTOFFSET] C_STATE_DOWN -15 30
[TEXTCOLOR] C_STATE_0 230 230 230
[TEXTCOLOR] C_STATE_1 0 255 0
[USERDATA] 0 2
[USERDATA] 1 1
[USERDATA] 2 3
[USERDATA] 3 4
[USERDATA] 4 5
[USERDATA] 5 6
[USERDATA] 100 MV_UIROLLINGFIRE
[CURSOR] CRSR_F16_ON

######Scenario 3
[BUTTON]
[SETUP] CS_LOAD_SCENARIO3,C_TYPE_CUSTOM, 4 224
#To disable this scenario just comment out the next code line with #
[IMAGES] CAMP_IRON_FORTRESS_NEW CAMP_IRON_FORTRESS_NEW CAMP_IRON_FORTRESS_NEW CAMP_IRON_FORTRESS_NEW
[CLUSTER] 4001
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_POP C_TYPE_LMOUSEUP
[LABELFLAGBITON] C_BIT_RIGHT
[LABELALL] TXT_SCENARIO_3
[FONT] BANK_GOTHIC_24
[TEXTOFFSET] C_STATE_UP -15 30
[TEXTOFFSET] C_STATE_DOWN -15 30
[TEXTCOLOR] C_STATE_0 230 230 230
[TEXTCOLOR] C_STATE_1 0 255 0
[USERDATA] 0 3
[USERDATA] 1 2
[USERDATA] 2 1
[USERDATA] 3 4
[USERDATA] 4 5
[USERDATA] 5 6
[USERDATA] 100 MV_UIFORTRESS
[CURSOR] CRSR_F16_ON

######Scenario 4
[BUTTON]
[SETUP] CS_LOAD_SCENARIO4,C_TYPE_CUSTOM, 4 318
#To disable this scenario just comment out the next code line with #
[IMAGES] CAMP_DOUBLE_DRAGON_NEW CAMP_DOUBLE_DRAGON_NEW CAMP_DOUBLE_DRAGON_NEW CAMP_DOUBLE_DRAGON_NEW
[CLUSTER] 4001
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_POP C_TYPE_LMOUSEUP
[LABELFLAGBITON] C_BIT_RIGHT
[LABELALL] TXT_SCENARIO_4
[FONT] BANK_GOTHIC_24
[TEXTOFFSET] C_STATE_UP -15 30
[TEXTOFFSET] C_STATE_DOWN -15 30
[TEXTCOLOR] C_STATE_0 230 230 230
[TEXTCOLOR] C_STATE_1 0 255 0
[USERDATA] 0 4
[USERDATA] 1 1
[USERDATA] 2 3
[USERDATA] 3 2
[USERDATA] 4 5
[USERDATA] 5 6
[USERDATA] 100 MV_UIDOUBLEDRAGON
[CURSOR] CRSR_F16_ON

######Scenario 5
[BUTTON]
[SETUP] CS_LOAD_SCENARIO5,C_TYPE_CUSTOM, 4 412
#To disable this scenario just comment out the next code line with #
[IMAGES] CAMP_BEAR_TRAP_NEW CAMP_BEAR_TRAP_NEW CAMP_BEAR_TRAP_NEW CAMP_BEAR_TRAP_NEW
[CLUSTER] 4001
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_POP C_TYPE_LMOUSEUP
[LABELFLAGBITON] C_BIT_RIGHT
[LABELALL] TXT_SCENARIO_5
[FONT] BANK_GOTHIC_24
[TEXTOFFSET] C_STATE_UP -15 30
[TEXTOFFSET] C_STATE_DOWN -15 30
[TEXTCOLOR] C_STATE_0 230 230 230
[TEXTCOLOR] C_STATE_1 0 255 0
[USERDATA] 0 5
[USERDATA] 1 1
[USERDATA] 2 3
[USERDATA] 3 4
[USERDATA] 4 2
[USERDATA] 5 6
[USERDATA] 100 MV_UIBEARTRAP
[CURSOR] CRSR_F16_ON

######Scenario 6
[BUTTON]
[SETUP] CS_LOAD_SCENARIO6,C_TYPE_CUSTOM, 4 506
#To disable this scenario just comment out the next code line with #
[IMAGES] CAMP_MANTIS_AT_DAWN_NEW CAMP_MANTIS_AT_DAWN_NEW CAMP_MANTIS_AT_DAWN_NEW CAMP_MANTIS_AT_DAWN_NEW
[CLUSTER] 4001
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_POP C_TYPE_LMOUSEUP
[LABELFLAGBITON] C_BIT_RIGHT
[LABELALL] TXT_SCENARIO_6
[FONT] BANK_GOTHIC_24
[TEXTOFFSET] C_STATE_UP -15 30
[TEXTOFFSET] C_STATE_DOWN -15 30
[TEXTCOLOR] C_STATE_0 230 230 230
[TEXTCOLOR] C_STATE_1 0 255 0
[USERDATA] 0 6
[USERDATA] 1 1
[USERDATA] 2 3
[USERDATA] 3 4
[USERDATA] 4 2
[USERDATA] 5 5
[USERDATA] 100 MV_UIMANTISATDAWN
[CURSOR] CRSR_F16_ON

################################
#NEW, LOAD, DELETE, JOIN BUTTONS
################################

######BUTTON: NEW CAMPAIGN
[BUTTON]
[SETUP] CS_NEW_CTRL, C_TYPE_RADIO, 1 3
[IMAGES] GUND_NEW, GUND_NEW, NULL, NULL
[STATE] 1
[GROUP] 4000
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[SOUNDBITE] SND_FILE C_STATE_DOWN
[USERDATA] C_STATE_0 4001
[USERDATA] C_STATE_1 4002
[USERDATA] C_STATE_2 4003
[CURSOR] CRSR_F16_ON

######BUTTON: LOAD CAMPAIGN
[BUTTON]
[SETUP] CS_LOAD_CTRL, C_TYPE_RADIO, 112 3
[IMAGES] GUND_SAVED, GUND_SAVED, GUND_SAVED, GUND_SAVED
[STATE] 0
[GROUP] 4000
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[USERDATA] C_STATE_0 4002
[USERDATA] C_STATE_1 4001
[USERDATA] C_STATE_2 4003
[CURSOR] CRSR_F16_ON

######BUTTON: DELETE CAMPAIGN
[BUTTON]
[SETUP] CS_DELETE, C_TYPE_NORMAL, 112 3
[IMAGES] GUND_DEL, GUND_DEL, NULL, GUND_DEL
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_DELETE
[CLUSTER] 4002
[FLAGBITON] C_BIT_INVISIBLE

#WHITE FRAME
[BOX]
[SETUP] NID 0
[XYWH] 19 48 294 532
[COLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_INVISIBLE
[CLUSTER] 4002

#BLACK FRAME
[BOX]
[SETUP] NID 0
[XYWH] 18 47 296 534
[COLOR] 0 0 0
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_INVISIBLE
[CLUSTER] 4002

######BUTTON: JOIN CAMPAIGN (New popup window)
[BUTTON]
[SETUP] CS_JOIN_CTRL, C_TYPE_RADIO, 223 3
[IMAGES] GUND_ONLINE, GUND_ONLINE, NULL, NULL
[STATE] 0
[GROUP] 4000
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[SOUNDBITE] SND_FILE C_STATE_DOWN
[USERDATA] C_STATE_0 4003
[USERDATA] C_STATE_1 4001
[USERDATA] C_STATE_2 4002
[CURSOR] CRSR_F16_ON

#WHITE FRAME
[BOX]
[SETUP] NID 0
[XYWH] 19 48 294 532
[COLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_INVISIBLE
[CLUSTER] 4003

#BLACK FRAME
[BOX]
[SETUP] NID 0
[XYWH] 18 47 296 534
[COLOR] 0 0 0
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_INVISIBLE
[CLUSTER] 4003

[SCROLLBAR]
[SETUP] NID,C_TYPE_VERTICAL
[XYWH] 317 48 13 533
[FLAGBITON] C_BIT_ABSOLUTE
[SLIDERIMAGE] BID_SCROLL
[BUTTONIMAGES] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON
[BGLINE] 134 134 134
[CLUSTER] 4003
[CLIENT] 0
[CURSOR] CRSR_VDRAG_ON
[DRAGCURSOR] CRSR_VDRAG_ON
[INCREMENT] 15

#File list: On-line sessions
[TREELIST]
[SETUP] CAMPAIGN_TREE
[FONT] OCR_EXT_14
[XY] 5 2
[CLIENT] 0
[XOFFSET] 18
#[YOFFSET] 17
[CLUSTER] 4003
[FLAGBITON] C_BIT_INVISIBLE
[IMAGES] TREE_PLUS TREE_MINUS TREE_BLANK
[CURSOR] CRSR_F16_ON

#File list: Saved campaigns
[TREELIST]
[SETUP] FILELIST_TREE
[FONT] OCR_EXT_14
[XY] 5 2
[CLIENT] 0
#[XOFFSET] 21
#[YOFFSET] 17
[FLAGBITON] C_BIT_INVISIBLE
[CLUSTER] 4002
[CURSOR] CRSR_F16_ON